* {
  box-sizing: border-box;
  font-family: Inter, san-serif;
}
.container {
  background-color: white;
  height: 100vh;
  display: flex;

  width: 100%;
  transform:translateX(-50%);
  left:50%;
  top: 0px;
  position: absolute;
}
.outer {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-50%);
  left: 50%;
  background-color: white;
  width: 100%;
  display: flex;
  padding: 0px 10px 46px 10px;
  top: 35px;
}
.perspective {
  height: 150px;
  width: 100%;
  background-color: transparent;
  border-radius: 15px;
  padding: 0px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  perspective: 370px;
}

@keyframes rotateForth {
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotateBack {
  100% {
    transform: rotateY(-360deg);
  }
}

.animClass {
  animation: rotateForth 4s ease forwards;
}
.animClass2 {
  animation: rotateBack 4s ease forwards;
}
.top {
  height: 150px;
  width: 95%;
  background-color: #ffe0b2;
  border-radius: 15px;
  padding: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  z-index: 32;
  transform-style: preserve-3d;
}
.crypto-face {
  height: 150px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  width: 100%;
  border-radius: 15px;
  padding: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 21;
  background-color: #5a3600;
}

.wallet {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  color: #ef9800;
}
.total {
  font-size: 14px;
  color: white;
  top: 35px;
  position: absolute;
}
.coins-list {
  position: absolute;
  top: 65px;
  display: flex;
  width: 95%;
  background-color: transparent;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2px;
  padding: 0px;
}
.coin {
  padding: 2px 10px;
  display: flex;
  color: black;
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
  width: 90%;
  background-color: #ffe0b2;
}
.logo {
  height: 19px;
  width: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background-color: red;
}
img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.coin-name {
  color: #5a3600;
  font-weight: bold;
}
.profile {
  position: absolute;
  top: 5px;
  display: flex;
  left: 10px;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  border-radius: 10px;
}
.dp {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  position: relative;
  display: flex;
}
.name {
  color: black;
  font-weight: bold;
  font-size: 12px;
}
.verified {
  color: gray;
  font-weight: normal;
  font-size: 10px;
}
.transactions {
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.2),
    0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: #ffe0b2;
  padding: 10px 10px 45px 10px;
  flex-direction: column;
  width: 95%;
}
.tbox {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #c77700;
  display: flex;
  border-radius: 10px;
}
.alert {
  padding: 0px;
  background-color: transparent;
  color: #ccc;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.amount {
  font-size: 18px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  align-self: center;
  font-weight: normal;
  color: white;
}
.tId {
  position: absolute;
  bottom: 5px;
  padding: 4px;
  font-size: 10px;
  background-color: transparent;
  border-radius: 10px;
  right: 10px;
}
.cover {
  filter: blur(0.6);
  background-color: grey;
  height: 100%;
  width: 100%;
  z-index: 50;
  position: absolute;
}
.box1 {
  height: 15px;
  overflow: hidden;
  background-color: black;
  width: 250px;
  display: flex;
  border-radius: 15px;
  box-shadow: inset 0px 0px 2px grey;
  position: absolute;
  z-index: 52;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.box2 {
  height: 100%;
  position: absolute;
  animation: movebox2 2s linear infinite;
  width: 30%;
  left: -200px;
  background-color: white;
}
@keyframes movebox2 {
  0% {
    transform: translateX(0px);
  }
  30% {
    width: 50%;
  }
  100% {
    transform: translateX(450px);
    width: 60%;
  }
}
.text {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  align-self: center;
  top: 40%;
}
.withdraw {
  width: 50%;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-align: center;
  border-radius: 20px;
  background-color: #ef9800;
  color: #5a3600;
}
.deposit {
  width: 50%;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #5a3600;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: white;
}
.status {
  position: absolute;
  top: 5px;
  right: 10px;
}
.balance {
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  display: flex;
  padding: 10px 20px;
  border-radius: 15px;
  justify-content: space-between;
  flex-direction: column;
  gap: 2px;
}
.bal-txt {
  font-size: 12px;
  color: #5a3600;
  border-radius: 15px 15px 0px 0px;
}
.bal-amount {
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: 1px solid #c77700;
  padding: 8px 15px;
  background-color: #ef9800;
  display: flex;
  white-space: nowrap;
  border-radius: 2px;
}
.notes {
  width: 95%;
  font-size: 12px;
  text-align: center;
  color: black;
  padding: 0px 0px 50px 0px;
}
.button1 {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 10px;
  color: black;
  background-color: #ef9800;
  padding: 4px 5px;
  animation: scaleText 2s ease infinite 4s;
}

.button2 {
  position: absolute;
  top: 10px;
  right: 4%;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 10px;
  color: white;
  visibility: hidden;
  background-color: red;
  padding: 4px 5px;
  z-index: 80;
  animation: scaleText 2s ease infinite 4s;
}
.button2-show {
  visibility: visible;
}

@keyframes scaleText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}
.title {
  font-size: 18px;
  position: absolute;
  top: 6px;
  left: 20px;
  color: black;
  font-weight: bold;
}

.live-tickers {
  color: #5a3600;
  position: relative;
  background-color: transparent;
  visibility: visible;
  display: flex;
  width: 95%;
  padding: 0px;
  overflow: hidden;
  border-radius: 15px 2px 15px 2px;
  justify-content: space-between;
  gap: 4px;
  flex-direction: column;

}
.ticker1 {
  color: white;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 4px 15px;
  font-size:14px;
  background-color: #5a3600;
}
.table-title {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: #ef9800;
}
